.movies_details-container {
  padding: 50px 5vw;
  height: 100vh;
}
#backButton {
  width: 12%;
  height: max-content;
  background-color: white;
  box-shadow: 2px 2px 10px #858585;
  border-radius: 6px;
  padding: 5px 25px;
}
#backButton span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 600;
}
#backButton img {
  width: 25px;
  transform: scaleY(0.95);
}
.details_container {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 10vh;
}
.details_image {
  background-color: black;
  width: 50%;
  width: max-content;
  overflow: hidden;
}
.details_image img {
  height: 100%;
}
.details_content {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  margin-left: 40px;
  justify-content: space-between;
}
.points-container {
  display: flex;
  flex-direction: column;
}
.points-container span {
  color: #fff;
}
